<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houseWork.dao.pay.OrderDao">
    <insert id="insertOrder" parameterType="com.houseWork.dao.pay.OrderDao">
	insert into `order`
	(
	id,
	appid,
	mch_id,
	nonce_str,
	sign,
	result_code,
	openid,
	trade_type,
	bank_type,
	total_fee,
	cash_fee,
	transaction_id,
	out_trade_no,
	gmt_created,
	gmt_modified
	)
	values
	(
	#{id},
	#{appid},
	#{mch_id },
	#{nonce_str},
	#{sign},
	#{result_code},
	#{openid},
	#{trade_type},
	#{bank_type},
	#{total_fee},
	#{cash_fee},
	#{transaction_id},
	#{out_trade_no},
	#{gmt_created},
	#{gmt_modified}
	)
</insert>
</mapper>