<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houseWork.dao.cleaner.CleanerDao">
    <insert id="addCleaner" parameterType="com.houseWork.entity.cleaner.Cleaner">
		INSERT INTO cleaner (name,card,telephone,introduction,time,total,back,score,place,price,type,work)
		VALUES (#{cleaner.name},#{cleaner.card},#{cleaner.telephone},#{cleaner.introduction},#{cleaner.time},#{cleaner.total},#{cleaner.back},#{cleaner.score},#{cleaner.place},#{cleaner.price},#{cleaner.type},#{cleaner.work})
	</insert>
    <delete id="deleteCleaners" parameterType="java.util.List">
        DELETE FROM cleaner
        WHERE id IN
        <foreach collection="list" item="list" open="(" close=")" separator=",">
            #{list.id}
        </foreach>
    </delete>
    <update id="updateCleaners" parameterType="java.util.List">
        <foreach collection="list" item="cleaner" index="index" open="" close="" separator=";">
            UPDATE cleaner
            <set>
                name=#{cleaner.name},telephone=#{cleaner.telephone},introduction=#{cleaner.introduction},time=#{cleaner.time},
                total=#{cleaner.total},back=#{cleaner.back},score=#{cleaner.score},place=#{cleaner.place},
                price=#{cleaner.price},type=#{cleaner.type},work=#{cleaner.work},card=#{cleaner.card}
            </set>
            <where>
                id=#{cleaner.id}
            </where>
        </foreach>
    </update>
    <select id="findCleaners" resultType="com.houseWork.entity.cleaner.Cleaner">
        SELECT * FROM cleaner
        <where>
            <if test="name != null">
                name like '%${name}%'
            </if>
            <if test="place != null">
                and place = #{place}
            </if>
        </where>
        order by price
        <if test="price == 0">
            ,
        </if>
        <if test="price == 1">
            asc,
        </if>
        <if test="price == 2">
            desc,
        </if>
        total
        <if test="total == 1">
            asc
        </if>
        <if test="total == 2">
            desc
        </if>
    </select>
    <select id="loadCleanerByName" resultType="com.houseWork.entity.cleaner.Cleaner">
        select * from cleaner where name=#{name}
    </select>
</mapper>
