<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houseWork.dao.cleaner.CleanerDao">
    <resultMap id="BaseResultMap" type="com.houseWork.entity.cleaner.CleanerWorkDetail">
        <id property="cid" column="cid" jdbcType="INTEGER"/>
        <result property="appointmentId" column="appointment_id" jdbcType="INTEGER"/>
        <result property="workDate" column="work_date" jdbcType="DATE"/>
        <result property="type" column="status_mor" jdbcType="VARCHAR"/>
        <result property="createTime" column="creat_time" jdbcType="DATE"/>
        <collection property="appointments" ofType="com.houseWork.entity.appointment.Appointment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="billingType" column="billing_type" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="area" column="area" jdbcType="NUMERIC"/>
            <result property="appointmentTime" column="appointment_time" jdbcType="DATE"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="cleanerId" column="clearner_id" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    <insert id="addCleaner" parameterType="com.houseWork.entity.cleaner.Cleaner">
		INSERT INTO cleaner (name,card,telephone,introduction,time,total,back,score,place,price,type,work)
		VALUES (#{cleaner.name},#{cleaner.card},#{cleaner.telephone},#{cleaner.introduction},#{cleaner.time},#{cleaner.total},#{cleaner.back},#{cleaner.score},#{cleaner.place},#{cleaner.price},#{cleaner.type},#{cleaner.work})
	</insert>
    <delete id="deleteCleaner" parameterType="integer">
        DELETE FROM cleaner
        WHERE id = #{id}
    </delete>
    <update id="updateCleaners" parameterType="java.util.List">
        <foreach collection="list" item="cleaner" index="index" open="" close="" separator=";">
            UPDATE cleaner
            <set>
                name=#{cleaner.name},telephone=#{cleaner.telephone},image=#{cleaner.image},introduction=#{cleaner.introduction},time=#{cleaner.time},
                total=#{cleaner.total},back=#{cleaner.back},score=#{cleaner.score},place=#{cleaner.place},
                price=#{cleaner.price},type=#{cleaner.type},work=#{cleaner.work},card=#{cleaner.card}
            </set>
            <where>
                id=#{cleaner.id}
            </where>
        </foreach>
    </update>
    <update id="updateCleanerWorkDetail" parameterType="java.util.Map">
        UPDATE cleaner_work
        <set>
            work_date=#{workDate}, type=#{type}
        </set>
        <where>
            cid=#{cid}
        </where>
    </update>
    <delete id="deleteCleanerWorkDetail" parameterType="java.util.Map">
        delete from cleaner_work
        <where>
            cid=#{cid} and work_date=#{workDate} and type=#{type}
        </where>
    </delete>
    <select id="findCleaners" resultType="com.houseWork.entity.cleaner.Cleaner">
        SELECT a.*,c.id uid,c.username
        FROM cleaner a
        left join user_cleaner_mapper b on a.id = b.cid
        left join user c on b.uid = c.id
        <where>
            <if test="name != null">
                a.name like '%${name}%'
            </if>
            <if test="place != null">
                and a.place like '%${place}%'
            </if>
            <if test="type != null">
                and a.type like '%${type}%'
            </if>
        </where>
        order by a.price
        <if test="price == 0">
            ,
        </if>
        <if test="price == 1">
            asc,
        </if>
        <if test="price == 2">
            desc,
        </if>
        <if test="price == null">
            ,
        </if>
        a.total
        <if test="total == 1">
            asc
        </if>
        <if test="total == 2">
            desc
        </if>
    </select>
    <select id="loadCleanerByName" resultType="com.houseWork.entity.cleaner.Cleaner">
        select * from cleaner where name=#{name}
    </select>
    <select id="loadCleanerById" resultType="com.houseWork.entity.cleaner.Cleaner">
        select * from cleaner where id=#{id}
    </select>
    <select id="cleanerWork" resultMap="BaseResultMap">
        SELECT * FROM cleaner_work a
        left join appointment b on b.id = a.appointment_id
        <where>
            a.cid = #{cleanerId} and a.work_date <![CDATA[ <> ]]> now()
            and a.work_date <![CDATA[ <> ]]> DATE_ADD(now(),INTERVAL 7 DAY)
        </where>
    </select>
    <insert id="addUserCleaner" parameterType="integer">
		INSERT INTO user_cleaner_mapper (cid,uid,create_time)
		VALUES (#{cid},#{uid},now())
	</insert>
</mapper>
